</div>
<div class="footer-padding"></div>
<div class="footer">
  <p>Photos from Unsplash📋 <%= new Date().getFullYear(); %></p>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  // document.getElementsByClassName("theme-switch")[0].addEventListener("click", function () {
  //   document.getElementsByClassName("theme-switch")[0].classList.toggle("focus");
  //   document.getElementsByClassName("switch")[0].classList.toggle("ball");
  //   document.body.classList.toggle("dark-theme");
  // });



</script>

</body>

</html>